* { box-sizing: border-box; }
body {
  position: relative;
}
#player {
  position: absolute;
  left: -25px;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;


}
.move_left {
  width: 210px;
  height: 320px;
  background: url("images/animations/move_left.png");
  animation: run 1s steps(24) infinite, move 10s steps(1000) infinite;
}

.move_right {
  width: 210px;
  background: url("images/animations/move_right.png");
  animation: run 1s steps(24) infinite, move 10s steps(1000) infinite;
}

.move_down {
  width: 210px;
  height: 320px;
  background: url("images/animations/move_down.png");
  animation: run 1s steps(24) infinite, move 10s steps(1000) infinite;

.move_up {
  width: 210px;
  background: url("images/animations/move_up.png");
  animation: run 1s steps(24) infinite, move 10s steps(1000) infinite;

.bullet {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: fire 0.5s steps(100) infinite;
}

@keyframes fire {
  0% { margin-left: 25px; }
  100% {
    margin-left: 150px;
  }
}

@keyframes move_left {
  100% {
    margin-left: 100%;
    opacity: 0;
  }
}
@keyframes right {
  100% {
    margin-right: 100%;
    opacity: 0;
  }
}
